
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.search {
  display: flex;
  justify-content: space-between ; 
  width: 120px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 40px;
  color: black;
  display: flex;
  justify-content: space-between ; 
  
}
.search img {
  width:20px ;
}
.foto_header {
  display: flex;
 justify-content: space-between ; 
 width: 120px;
}
.foto_header img {
 width:20px ;
}
.text_header {

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 40px;
  color: black;
  display: flex;
  justify-content: space-between ; 
  width: 250px;
}
.header__cont {
margin-top: 60px;
  display: flex; 
  justify-content: space-between ; 
}
.header__info {
  margin-top: 180px;
  justify-content: center; 

}
.header__info h1 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: black;
  width: 500px;
  margin: 0px 0 0 150px;
}
.header__info p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 53px;
  color: black;
  width: 500px;
  margin: 0px 0 0 150px;
}
.header_imgg {
  margin: -250px 0 0 650px;
}
.cont_main{
  margin-top: 180px;
  /* justify-content: center; */
}
.main_foto {
margin-top: 100px;
  border: 1px solid #E0E0E0;
height: 245px;
  border-radius: 10px;
  
}
.main_foto h1 {
 margin-top: 50px;
 margin-left: 50px;
 font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 53px;
 color: black;
 width: 500px;
}
.main_foto p {
 
  margin-left: 50px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 33px;
  color: black;
  width: 500px;
 }
 
 .main_foto h2 {
  margin: -33px;      
  margin-left: 350px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 33px;
  color: black;
  width: 500px;
 }
 
 .main_foto img {
 height: 245px;
  margin-top: -203px;
  margin-left: 550px;
 }
 .news_post {
  display: grid;
  grid-gap: 51px 87px;
  grid-template-columns: repeat(3,1fr);
 }

section.news_post {}
 .firstb {
margin-top: 70px;
border: 1px solid #E0E0E0;

/* width: 320px; */

/* height: 390px; */

border-radius: 7px;

}
 .secb {
  margin-top: 70px;
border: 1px solid #E0E0E0;
 
/* width: 320px; */
 
/* height: 390px; */
 
border-radius: 7px;
 }
 .thirb {
  margin-top: 70px;
border: 1px solid #E0E0E0;
  
/* width: 320px; */
  
/* height: 390px; */
  
border-radius: 7px;
 }
 .h11 {
   margin-top: 50px; 
   margin-left: 30px;
   font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: black;
  
 }
 .wp {
  margin-top: 5px; 
  margin-left: 30px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 15px;
 line-height: 16px;
 color: black;
 
}
.h2 {
  margin-top: -20px;
  margin-left: 290px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 900;
 font-size: 15px;
 line-height: 16px;
 color: black;
 
}
.pp {
  margin-left: 30px;
  margin-top: 20px ;
}
.bory {
  margin-top: 100px;
  border: 1px solid #F7FAFC;

  border-radius: 1px;
}
.h1 {
  margin-top: 90px; 
  margin-left: 160px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 60px;
 line-height: 70px;
 color: black;
 
}
.kl {
  margin-top: 5px; 
  margin-left: 160px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 35px;
 color: black;
 
}
.po {
  margin-top: 50px; 
  margin-left: 160px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 700;
 font-size: 20px;
 line-height: 16px;
 color: black;
}
.h21 {
  margin-top: -18px;
  margin-left: 490px;
  font-family: 'Lato', sans-serif;
 font-style: normal;
 font-weight: 900;
 font-size: 20px;
 line-height: 16px;
 color: black;
}
.gr {
  margin-top: -475px;
  margin-left: 912px;
}
.imgh {
  margin-top: 150px;
  margin-left: 1312px;
}
.lj {
  margin-top: 50px;
  width: 900px;
}
.ret {
  margin-top: 70px;
  display: flex;
 justify-content: space-between ; 
}

.lkjhg {
  display: flex;

}
.lkjhg  p {
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 100px;
    color: black;
}
.foto_headere {
   display: flex;
  justify-content: space-between ; 
  width: 120px;
}
.foto_headere img {
  width:20px ;
}
/* .h
eader_container{ 
  
display: flex; 
 justify-content: space-between; 
 
  }
  .imges {
    position: absolute;

left: 1570px;
top: 60px;

  }
  .imgess {
    position: absolute;

left: 1640px;
top: 60px;

  }
  .group {
    position: absolute;

    left: 90px;
    top: 60px;
  }

     .containerr {
 
      position: absolute;

  
          left: 200px;
          top: 430px;
         font-family: 'Lato', sans-serif;
         font-style: normal;
         font-weight: 700;
         font-size: 35px;
         line-height: 53px;
         color: black;
         width: 500px;
     margin-top: 108px;
     margin: 50px 0 0 100px;
   
       }
     .header_info { 
      position: absolute;

      left: 960px;
      top: 300px;
       }
  
       
       .item {
        position: absolute;
  
          left: 350px;
          top: 800px;
        border: 1px solid #E0E0E0;
        width: 966px;
        height: 243px;
        border-radius: 10px;
           
      }
      .containerrr {
 
      
      position: absolute;
    
            left: 900px;
            top: 800px;

     
         }
         .f {
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 53px;
          color: black;
          width: 500px;
          font-family: 'Lato', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 53px;
          color: black;
          width: 500px;
      margin-top: 90px;
      margin: 50px 0 0 50px;
           
           
         }
         .ff {
   
      margin-top: 90px;
      margin: 25px 0 0 50px;
         }
         .fff {
   
              margin: 25px 0 0 20px;
             }
             .ffff {
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 45px;
              line-height: 53px;
              color: black;
              width: 500px;
              font-family: 'Lato', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 53px;
              color: black;
              width: 500px;
              margin: -35px 0 0 430px;
                 }
              
                .itemm {
                  position: absolute;
  
                  left: 5px;
                  top: 100px;
                  border: 1px solid #E0E0E0;
                  width: 320px;
                  height: 390px;
                  border-radius: 7px;
                }
                .itew {
                  position: absolute;
  
                  left: 350px;
                  top: 100px;
                  border: 1px solid #E0E0E0;
                  width: 320px;
                  height: 390px;
                  border-radius: 7px;
                }
                .iteww {
                  position: absolute;
  
                  left: 690px;
                  top: 100px;
                  border: 1px solid #E0E0E0;
                  width: 320px;
                  height: 390px;
                  border-radius: 7px;
                }
              
                .containerrrr {
                 
                 position: absolute;
    
                 left: 350px;
                 top: 1000px;
                   }
                   .imh {
                    position: absolute;
  
                    left: 356px;
                    top: 1047px;
                   }
                   .imi {
                    position: absolute;
  
                    left: 701px;
                    top: 1047px;
                   }
                   .iml {
                    position: absolute;
  
                    left: 1041px;
                    top: 1047px; 
                   }
                   .g {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 53px;
                    color: black;
                    width: 500px;
                margin-top: 108px;
                margin: 210px 0 0 20px;
              
                   }
                   .gg {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 17px;
                    color: black;
                    width: 500px;
                margin-top: 108px;
                margin: 0px 0 0 20px;
              
                   }
                   .mp {
                    margin: 15px 0 0 20px;
                   }
                   .m {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 53px;
                    color: black;
                    width: 500px;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 53px;
                    color: black;
                    width: 500px;
                    margin: -35px 0 0 200px;
                   }
                
                    .bg {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                  margin-top: 90px;
                  margin: 190px 0 0 20px;
                
                     }
                     .bgg {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 13px;
                      line-height: 17px;
                      color: black;
                      width: 500px;
                  margin-top: 108px;
                  margin: 0px 0 0 20px;
                     }
                     .mpp {
                      margin: 15px 0 0 20px;
                     }
                     .mm {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 45px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      margin: -35px 0 0 200px;
                     }
                     .yg {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                  margin-top: 90px;
                  margin: 190px 0 0 20px;
                
                     }
                     .ygg {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 13px;
                      line-height: 17px;
                      color: black;
                      width: 500px;
                  margin-top: 108px;
                  margin: 0px 0 0 20px;
                     }
                     .mppp {
                      margin: 15px 0 0 20px;
                     }
                     .mmm {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 45px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      margin: -35px 0 0 200px;
                     }
                     .hot {
                      position: absolute;
                
                        left: 350px;
                        top: 1600px;
                        background-color: #F7FAFC;
                      border: 1px solid #F7FAFC;
                      width: 90px;
                      height: 400px;
                      border-radius: 00px;
                         
                    }
                    .hot1 {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 35px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                  margin-top: 90px;
                  margin: 100px 0 0 150px;
                
                     }
                     .hot2 {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 13px;
                      line-height: 17px;
                      color: black;
                      width: 500px;
                  margin-top: 108px;
                  margin: 10px 0 0 150px;
                     }
                     .hot3 {
                      margin: 15px 0 0 150px;
                     }
                     .hot4 {
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 45px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      font-family: 'Lato', sans-serif;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 53px;
                      color: black;
                      width: 500px;
                      margin: -35px 0 0 370px;
                     }
                     .re {
                 position: absolute;
                 left: 890px;
                 top: 1600px; 
                     }
                     .bnmj {
                      position: absolute;
                
                      left: 1180px;
                      top: 2090px;
                  }
              */